#index  {
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("/resources/images/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#login {
    height: 100%;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#register {
    height: 100%;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#admin-page {
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("/resources/images/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#registered-users-page{
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#add-task {
    height: 100%;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#edit-task {
    height: 100%;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

nav {
    background-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 1.5rem;
}

nav a {
    font-size: 1.5rem;
}

nav .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav {
    height: 100%;
}

.nav li {
    display: inline-block;
    padding: 0 10px;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-color: transparent;
}

.masthead h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#addTask {
    margin: 15px;
}

.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.00rem 1.6rem;
    font-size: 60%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
    margin: 15px;
}

.btn-primary {
    background-color: #64a19d;
}

.btn-primary:hover {
    background-color: #4f837f;
}

.btn-primary:focus {
    background-color: #4f837f;
    color: white;
}

.btn-primary:active {
    background-color: #467370 !important;
}

#indexBtn {
    padding: 1.25rem 2rem;
    margin-top: 45px;
    font-size: 80%;
}

#login-button {
    padding: 1.00rem 1.8rem;
    font-size: 60%;
    margin: 10px;
    margin-top: 25px;
}

footer {
    flex-shrink: 0;
    color: #467370;
}

form {
    margin-left: 30px;
    margin-top: 40px;
}

form label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: #161616;
}

#already-registered {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
    margin-left: 150px;
}

