table {
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

th {
    background-color: rgba(191, 191, 191, 0.6);
    font-weight: bold;
    height: 50px;
}
tr {
    background-color: rgba(191, 191, 191, 0.5);
}

tr:hover {
    background-color: rgba(191, 191, 191, 0.7);
}

.link-button {
    background-color: rgba(100, 161, 157,0.8);
}

#addTask{
    background-color: #467370;
    color: white;
}

.link-disabled {
    background-color: darkslategrey;
    color: #161616;
}

