<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <div th:fragment="navbar">
                <div class="col-md-12">
                    <nav class="navbar navbar-light">
                        <span class="navbar-brand"><a class="navbar-brand" th:href="@{/index}">Tasklist creator</a></span>
                        <div class="nav navbar-nav">
                            <div sec:authorize="isAnonymous()">
                                <ul class="navbar-toggle navbar-right">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/register}">register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{login}">login</a>
                                    </li>
                                </ul>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <ul class="navbar-toggle navbar-right">
                                    <li class="nav-item">
                                        Hey <a class="text-right" th:text="${userName}"></a>!
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
        </div>
    </body>
</html>