<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/resources/css/general.css}"/>
    <title>Add the task!</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Josefin+Sans|Karla|Open+Sans+Condensed:300|Quicksand|Roboto+Condensed&display=swap"
          rel="stylesheet">
</head>
<body id="add-task">
<div class="container">
    <th:block th:include="fragments/navbar :: navbar"></th:block>

    <div class="col-lg-6">
    <div>
        <form th:action="@{/tasks/addtask}" method="post" th:object="${taskForm}">
            <div class="form-group">
            <label for="title-add">Title</label>
            <input type="text" class="form-control" id="title-add" th:field="*{title}"/>
            </div>
            <div class="form-group">
            <label for="description-add">Description</label>
            <input type="text" class="form-control" id="description-add" th:field="*{description}">
            </div>
            <div class="form-group">
            <label for="dropOperator">Priority</label>
                <select class="form-control" th:field="${taskForm.priority}"  id="dropOperator">
                    <option th:each="priority : ${priorities}" th:value="${priority}" th:text="${priority}"></option>
                </select>
            </div>
            <button class="btn btn-primary float-right" th:type="submit">Add task</button>
        </form>
    </div>
</div>
</div>
</body>
</html>