<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      style = "height: 100%"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/resources/css/general.css} "/>
    <meta charset="UTF-8">
    <title>Hello Admin</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Josefin+Sans|Karla|Open+Sans+Condensed:300|Quicksand|Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body id="admin-page">
<div class="container">
    <th:block th:include="fragments/navbar :: navbar"></th:block>

    <form action="/admin/users" method="get">
        <button type="submit" class="btn btn-primary" id="indexBtn">View registered users</button>
    </form>

</div>
</body>
</html>