<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/resources/css/general.css} "/>
    <meta charset="UTF-8">
    <title>Index</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Josefin+Sans|Karla|Open+Sans+Condensed:300|Quicksand|Roboto+Condensed&display=swap"
          rel="stylesheet">
</head>
<body id="index">
<div class="container">
    <th:block th:include="fragments/navbar :: navbar"></th:block>

    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="display-4 text-center text-uppercase">Siema siema</h1>
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="btn btn-primary" id="indexBtn">Create tasklist!</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/tasks}" class="btn btn-primary" id="indexBtn">View my tasks!</a>
                </div>
            </div>
        </div>
    </header>

    <footer class="py-5">
        <div class="container text-center">
            <small>Copyright &copy; EweWerka</small>
        </div>
    </footer>
</div>

</body>
</html>