<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      style="height: 100%"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/resources/css/general.css} "/>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Josefin+Sans|Karla|Open+Sans+Condensed:300|Quicksand|Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body id="login">
    <div class="container">
        <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div class="col-lg-6">
                <form th:action="@{/login}" method="post">
                    <div th:if="${errormessage != null}">
                        <span th:text="${errormessage}"></span>
                    </div>
                    <div class="form-group">
                        <label for="username">Login</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="password"/>
                    </div>
                    <button type="submit" class="btn btn-primary float-right" id="login-button">Login</button>
                </form>
            </div>
        </div>

</body>
</html>