<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/resources/css/general.css} "/>
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Josefin+Sans|Karla|Open+Sans+Condensed:300|Quicksand|Roboto+Condensed&display=swap"
          rel="stylesheet">
</head>
<body id="register">
<div class="container">
    <th:block th:include="fragments/navbar :: navbar"></th:block>

        <div class="row">
            <div class="col-lg-6">
                <form th:action="@{/register}" method="post" th:object="${registerForm}">
                    <div class="form-group">
                        <label for="register-login">Login</label>
                        <input type="text" class="form-control" id="register-login" placeholder="login" th:field="*{login}"/>
                        <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Error</div>
                    </div>
                    <div class="form-group">
                        <label for="register-mail">E-mail</label>
                        <input type="text" class="form-control" id="register-mail" placeholder="mail" th:field="*{mail}"/>
                    </div>
                    <div class="form-group">
                        <label for="register-name">Name</label>
                        <input type="text" class="form-control" id="register-name" placeholder="name" th:field="*{name}"/>
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="register-last-name">Last name</label>
                        <input type="text" class="form-control" id="register-last-name" placeholder="last name" th:field="*{lastName}"/>
                        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</div>
                    </div>
                    <div class="form-group">
                        <label for="register-password">Password</label>
                        <input th:type="password" class="form-control" id="register-password" placeholder="password" th:field="*{password}"/>
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                    </div>
                    <div class="form-group">
                        <label for="register-confirm-password">Confirm Password</label>
                        <input th:type="password" class="form-control" id="register-confirm-password" placeholder="confirm the password" th:field="*{repeatPassword}"/>
                        <div th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">RepeatPassword
                            Error
                        </div>
                    </div>
                    <button th:type="submit" class="btn btn-primary float-right" id="login-button">Register</button>
                </form>
            </div>
            <div class="col-lg2"></div>
            <div class="col-lg-4" id="already-registered">
                <h2>Already registered?</h2>
                <a type="submit" class="btn btn-primary float-right" th:href="@{/login}" id="go-to-login">Login!</a>
            </div>
        </div>

</div>
</body>
</html>