<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      style="height: 120%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/resources/css/general.css} "/>
    <link rel="stylesheet" th:href="@{/resources/css/tables.css} "/>
    <title>Tasks Page</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Josefin+Sans|Karla|Open+Sans+Condensed:300|Quicksand|Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body id="index">
<div class="container">
    <th:block th:include="fragments/navbar :: navbar"></th:block>

    <table class="table">
        <thead>
        <tr>
            <th scope="col" >Title</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <th:block th:scope="row" th:each="t : ${task}">
                <tr th:if="${#strings.equals(t.status, 'OPEN')}">
                    <td class="align-middle" th:text="${t.title}"></td>
                    <td class="align-middle" th:text="${t.description}"></td>
                    <td class="align-middle" th:text="${t.priority}"></td>

                    <td><a class="btn link-button" th:href="@{'/tasks/' + ${t.id} + '/close'}">CLOSE</a></td>
                    <td><a class="btn link-button" th:href="@{'/tasks/' + ${t.id} + '/change'}">EDIT</a></td>
                    <td><a class="btn link-button" th:href="@{'/tasks/' + ${t.id} + '/remove'}">DELETE</a></td>
                </tr>
                <tr th:if="${#strings.equals(t.status, 'CLOSED')}" style="background-color: rgba(191, 191, 191, 0.7); text-decoration: line-through;">
                    <td class="align-middle" th:text="${t.title}"></td>
                    <td class="align-middle" th:text="${t.description}"></td>
                    <td class="align-middle" th:text="${t.priority}"></td>

                    <td><a class="btn link-button link-disabled" th:href="@{'/tasks/' + ${t.id} + '/close'}">CLOSE</a></td>
                    <td><a class="btn link-button link-disabled" th:href="@{'/tasks/' + ${t.id} + '/change'}">EDIT</a></td>
                    <td><a class="btn link-button" th:href="@{'/tasks/' + ${t.id} + '/remove'}">DELETE</a></td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <a id="addTask" class="btn float-right" th:href="@{/tasks/addtask}">ADD TASK</a>

</div>
</body>
</html>