<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      style="height: 100%"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/resources/css/general.css} "/>
    <link rel="stylesheet" th:href="@{/resources/css/tables.css} "/>
    <title>Registered Users</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Fjalla+One|Josefin+Sans|Karla|Open+Sans+Condensed:300|Quicksand|Roboto+Condensed&display=swap"
          rel="stylesheet">
</head>
<body id="registered-users-page">

<div class="container">
    <th:block th:include="fragments/navbar :: navbar"></th:block>

    <div class="starter-template">
        <h5>
            <span th:text="'There are ' + ${numberOfUsers} + ' registered users'"></span>
        </h5>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col">Name</th>
            <th scope="col">Last name</th>
            <th scope="col">E-mail</th>
        </tr>
        </thead>

        <div>
            <tbody>
            <th:block th:scope="row" th:each="user : ${users}">
                <tr>
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.mail}"></td>
                </tr>
            </th:block>
            </tbody>
        </div>
    </table>
</div>
</body>
</html>